pyserial==3.5
requests==2.32.5
Pillow>=10,<13
python-dotenv>=1,<2
Flask>=3,<4
numpy
opencv-python
shapely
pyproj
matplotlib
huggingface_hub
torch
torchvision
git+https://github.com/facebookresearch/sam2.git
